body {
  padding: 70px 0;
  cursor: default;
}

a, tbody tr {
  cursor: pointer;
}

.navbar-nav {
  width: 100%;
}

.navbar-progress {
  float: left;
  margin: 15px 0;
  width: 200px;
}

#pause {
  width: 38px;
}

#playback-progress {
  transition: none;
}

#playback-elapsed {
  margin-right: 5px;
}

#playback-total {
  margin-left: 5px;
  margin-right: 0;
}

#playlist table {
  margin-top: 20px;
}
