[submodule "libs/mousetrap"]
	path = libs/mousetrap
	url = https://github.com/ccampbell/mousetrap.git
[submodule "libs/bootstrap"]
	path = libs/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "libs/font-awesome"]
	path = libs/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
